# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.pdb
*.idb

# Log files
*.tlog
*.log

*.ilk

# Executables
*.exe
*.out
*.app
/.vs/44Engine/v17
/44Engine/x64/Debug
/44Engine/x64/Release/44Engine.tlog
/44Engine/x64/Release
/.vs/44Engine/FileContentIndex
/Engine_SOURCE/x64/Debug/Engine_SOURCE.tlog
/Engine_SOURCE/x64/Debug
/Engine_SOURCE/x64/Release/Engine_SOURCE.tlog
/Engine_SOURCE/x64/Release
/.vs
/Engine_SOURCE/Engine_SOURCE.aps
/Client/x64
/x64/Debug/Lib/Engine_SOURCE.lib
/x64/Release/Lib/Engine_SOURCE.lib
